html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

.root {
  color: black;
  overflow: hidden;
  position: relative;

  &.running {
    .arrow, .mover, .startBtn {
      display: none;
    }
    .pauseBtn {
      display: block;
    }
  }

  .pauseBtn {
    display: none;
  }
}

.canvas {
  //border: 3px solid #ddd
}

.arrow {
  width: 5px;
  height: 150px;
  background-color: tomato;
  position: absolute;
  transform-origin: 50% 100% 0;
  opacity: 0.7;
  &__head {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: tomato;
    cursor: move;
    z-index: 2;
  }
}

.mover {
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  cursor: move;
  opacity: 0.3;
  z-index: 2;
}

.startBtn {
  position: absolute;
  left: 0;
  top: 0;
}
.pauseBtn {
  position: absolute;
  left: 0;
  top: 0;
}
